@import './App/index';
@import './DetailsPanel/index';
@import './TimelinePanel/index';
@import './TimelineEvent/index';

html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #2d3034;
  color:#AAA;
  width:100%;
  height:100%;
}

body {
  display: flex;
  flex-direction: column;
}

#main-container {
  flex:1;
}
