.TimelineSection {
  position: absolute;
  background-color: #4e84ad;
  border: 1px solid lighten(#4e84ad, 10);
  border-width: 0 1px;
  cursor: pointer;
  z-index: 2;
  height:100%;
  opacity: .5;

  .Timeline__events & {
    border:0;
    opacity: .2;
    pointer-events: none;
    z-index: 0;
  }
}
